#footer{
    display: flex;
    justify-content: space-between;
    height: 150px;
    border-top:solid 1px #bba58f;
    color:#e8d9cd;
    
  }

  #menu{
  display: flex;
  justify-content: space-between
     
  }