#footer{
    display: flex;
    justify-content: space-between;
    height: 150px;
    border-top:solid 1px #bba58f;
    color:#e8d9cd;
    
  }

 

  @media screen and (max-width: 400px) {
  

    
  #footer{
display: grid;
justify-items: center;
justify-content: center;
margin-top: 1em;
       
    }
  }


  